* {
    box-sizing: border-box;  
    scroll-behavior: smooth;
  }
  article {
    font-family: 'Agdasima', sans-serif;
    font-size: larger;
    color: #0a5de3;
    font-weight: bold;
  }
  h1 {
    font-size: xx-large;
    font-family: 'Caprasimo', cursive;
  }
  h2 {
    font-family: 'Oswald', sans-serif;
  }
  a:hover {
    background-color: #737070;
  }
  li {
    list-style: none;
  }
  button {
    background-color: #737070;
    width: 200px;
    height: 40px;
    border-radius:20px;
    border: 2px solid rgb(247, 245, 245);
  }
  .nav1 {
    background-color: #0a5de3;
    position: sticky;
    top: 2px;
    left: 0;
  }
  .navv1 {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navvv1 {
    float: right;
  }
  .navvv1s {
    float: left;
  font-size: larger;
  color: white; 
  
  }
  .navvv1ss {
    float: left;
    font-size: xx-large;
    padding: 8px;
    color: white;
  
  }
  .a1 {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  .nav2 {
    background-color: #737070;
  color: #d30808;
  width: 1500px;
  position: absolute;
  
  }
  .a2 {
    display: block;
    color: #000000;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  .ss {
  display: inline-block;
  position: relative;
  left: 1300px;
  }
  .flex1 {
    margin-top: 437px;
    background-image: url(pic\ people88.png);
    background-size: cover;
    height: 400px;
  display: flex;}
  .opa {
    height: 400px;
  }
  .picopacity {
    width:50%;
  }
  .text1 {
    width: 50%;
    margin-top: 140px;
  }
  .back-color {
    background-color: #737070;
  display: flex ;
  }
  .onee {
    width: 40%;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .timer {
    margin-top: 5%;
    width: 60%;
    margin-left: 50px;
  }
  .box {
    display: inline-block;
    border: 3px solid #0a5de3;
    width: 100px;
    height: 100px;
    margin: 5px;
    font-size: xx-large;
    text-align: center;
    padding-top: 4px;
  }
  .flex2 {
    display: flex;
  }
  .picradis {
    width: 50%;
    margin-left: 70px;
    margin-top: 90px;
  }
  .text2 {
    width: 40%;
    margin-top: 130px;
    
  }
  .picbig {
    height: 500px;
    width: 600px;
    border-radius: 50px;
  }
  .a3 {
    font-size: larger;
    font-family: 'Oswald', sans-serif;
  }
  .noth {
    margin: 110px 240px;
    text-align: center;
    font-size: xx-large;
  }
  
  .pic-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  .ggrid {
    height: 380px;
    width: 300px;
  }
  .flex3 {
    background-color: #ffffff ;
    margin-left: 300px;
    margin-bottom: 60px;
    width: 878px;
  }
  .box2 {
    display: inline-block;
    border : 1px solid rgb(0, 0, 0);
    text-align: center;
    margin: 3px;
    padding: 40px;
  }
  .flexcol {
    display: flex;
    flex-direction: column;
  }
  .picsm {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  .flex4 {
    display: flex;
    margin-left: 200px;
    margin-bottom: 30px;
    border: 1px solid rgb(0, 0, 0);
    width: 1100px;
    padding: 10px;
  }
  .pic-rad {
    width: 20%;
  }
  .text-g {
    text-align: center;
    margin-top: 50px;
    width: 40%;
  }
  .thir {
    text-align: center;
    margin-top: 80px;
    width: 40%;
  }
  .back-pic {
    padding-top: 10px;
    background-image: url(./ahmad.jpeg);
    background-size: cover;
  }
  .thtick {
  display: flex;
  margin-left: 50px;
  text-align: center;
  }
  .box3 {
    width: 30%;
    margin-right: 50px;
    /* border: 1px solid black; */
    padding: 40px ;
    background-color: #9e9c9c;
    margin-bottom: 60px;
  }
  .butt {
    width: 100%;
    height: 70px;
    border: none;
  }
  .gridhard {
    display: flex;
  }
  .picpicback {
    width: 30%;
    background-image: url(./WhatsApp\ Image\ 2023-06-30\ at\ 12.30.03\ AM.jpeg);
    background-size: cover;
    height: 640px;
    margin: 70px;
  }
  .picpicbac {
    width: 40%;
    margin: 70px;
    height: 600px;
  }
  .position-relat {
    margin-top: 20px;
    margin-left: 15px;
  }
  .largfontbottom {
  margin-top: 390px;
  margin-left: 15px;
  font-size:xx-large;
  font-family: 'Oswald', sans-serif;
  }
  .picpicbac {
    display: flex;
    flex-direction: column;
  }
  .picpicba {
    height: 50%;
    background-image: url(./10.jpeg);
    background-size: cover;
  }
  .picpicbaa {
    height: 50%;
    margin-top: 40px;
  background-image: url(./img\ 2.jpg);
  background-size: cover;
  }
  .largfontbotto {
    margin-top: 90px;
  margin-left: 15px;
  font-size:xx-large;
  font-family: 'Oswald', sans-serif;
  }
  .backcolor2 {
    display: flex;
    margin-top: 80px ;
    margin-left: 63px;
    margin-right: 200px;
    background-color: #9e9c9c;
  }
  .www {
    font-size: x-large;
    font-family: 'Oswald', sans-serif;
    color: #000000;
  }
  .timerrr {
    margin-top: 100px;
    width: 30%;
  }
  .ee {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
  }
  .nap {
    margin-top: 90px;
    display: flex;
    margin-bottom: 70px;
  }
  .onee {
    margin-left: 100px;
    width: 30%;
    font-size: x-large;
  }
  .tnee {
    width: 50%;
  background-image: url(./200.png);
  background-size: cover;
  }
  .qqq {
    text-align: center;
    display: inline-block;
    font-size: x-large;
    font-family: 'Oswald', sans-serif;
  color: #0a5de3;
  font-weight: bold;
  }
  footer {
    background-color:#9e9c9c;
    margin-top: 5%;
    margin-bottom: 0;
    padding-top: 7%;
  }
  .foot {
    width: 70%;
  }
  .flexcoluo {
    margin-left: 45%;
  }
  .flexx {
    display: flex;
    margin-left: 27%;
  }
  .flexxx {
    display: inline-block;
    width: 100px;
    height: 80px;
    text-align: center;
    padding-top: 30px;
  }
  .yyy {
    font-size: larger;
    color: rgb(0, 0, 0);
    margin-left: 27%;
    font-family: 'Oswald', sans-serif;
  }
  .flexxxx {
    display: flex;
    margin-left: 27%;
  
  }
  .uuu {
    display: inline-block;
    width: 100px;
    height: 80px;
    text-align: center;
    padding-top: 30px;
  }
  
  
  